.slide-up-long {
    animation: slide-up-long 2s;
 }

 .slide-up-medium {
    animation: slide-up-medium 1.5s;
 }
 
 .slide-up-short {
    animation: slide-up-short 1s;
 }

 .bounce2 {
    animation: bounce2 3s infinite;
 }

 @keyframes bounce2 {
    0% { transform: translateY(0rem); }
    50%   { transform: translateY(1rem); }
    100% { transform: translateY(0rem); }
 }

 @keyframes bounce {
    0% { bottom: 22%; }
    50%   { bottom: 25%; }
    100% { bottom: 22%; }
 }

 @keyframes slide-up-long {
    0% {
        transform: translateY(15rem);
        opacity: 0;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
 }

 @keyframes slide-up-medium {
    0% {
        transform: translateY(10rem);
        opacity: 0;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
 }

 @keyframes slide-up-short {
    0% {
        transform: translateY(5rem);
        opacity: 0;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
 }

 .fade-in-2 {
    animation: test 0.5s;
 }

 @keyframes test {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
 }