/*
TODO--
responsiv
chart
map

hidden class
parallax
animasjon

responsive bilder med picture tag*/


// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/

html {
  // This defines what 1rem is
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;

  

  
  //font-family: 'Open Sans', sans-serif;

  .container {
    //grid-template-rows: 1fr;
    //grid-template-rows: repeat(auto-fit, minmax(50rem, 1fr));
    //grid-template-columns: [full-start] repeat(4, minmax(5rem, 1fr)) [full-end];
    //grid-template-rows: 100vh min-content 40vw repeat(3, min-content);
    ///grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(2, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    @media only screen and (max-width: $bp-largest) {
    }

    @media only screen and (max-width: $bp-large) {
    }

    @media only screen and (max-width: $bp-medium) {
    }
  }
}

.page-loader {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background: black;
  z-index: 99;
  overflow: hidden;
  position: fixed;
}



