// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/

html {
  // This defines what 1rem is
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

select, input {
  width: 100%;
  font-size: 2rem;
}

.page-loader {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background: black;
  z-index: 99;
  overflow: hidden;
  position: fixed;
}



