// DATA VISUALISATION

// DV SMALL A
.dv-small-a {
    padding: 10rem 0rem;
    background: linear-gradient(55deg, #2c0303a2 0%, #3a3a3aa8 85%),
      no-repeat center url(../img/bilder-bak_8443.jpg);
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 70rem));
    justify-content: center;
  
    &_text {
      width: 80%;
      padding: 5rem;
  
      display: grid;
      align-self: center;
      justify-self: center;
      grid-row-gap: 2rem;
    }
  
    &_data {
      //TODO
      margin-top: 30rem;
      height: 40vh;
      width: 80%;
      align-self: center;
      justify-self: center;
      background: greenyellow;
  
      position: relative;
  
      &_number {
        font-size: 15rem;
        color: white;
  
        position: absolute;
        top: -12rem;
        right: 0;
      }
    }
  }
  
  // DV SMALL B
  .dv-small-b {
    width: 100%;
    padding: 10rem 0rem;
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 70rem));
    justify-content: center;
  
    &_text {
      width: 80%;
      display: grid;
      align-self: center;
      justify-self: center;
      grid-row-gap: 2rem;
    }
  
    &_data {
      height: 40rem;
      width: 80%;
      background: orangered;
      align-self: center;
      justify-self: center;
    }
  }
  
  // DV BIG A
  .dv-big-a {
    width: 100%;
    min-height: 100%;
  
    background: var(--light);
  
    &_map {
      
    }
  }