img {
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

.fill-page {
  min-height: 100vh;

  @media only screen and (max-width: 100rem) {
    //min-height: initial;
  }
}

.bg-white {
  background: white;
  color: #333;

  @media only screen and (max-width: 60rem) {
    padding-top: 5rem;
  }
}

.bg-white-2 {
  background: #F8F9FA;
  color: #333;

  @media only screen and (max-width: 60rem) {
    padding-top: 5rem;
  }
}

.bg-black {
  background: #06090ab3;
  padding: 5rem;
  max-width: 60rem;
  color: white;

  @media only screen and (max-width: 60rem) {
  }
}

.zindex {
  position: relative;
  z-index: 100;
}

.fade-in {
  opacity: 1 !important;
}

.fade-out {
  opacity: 0 !important;
}

.visible {
  display: initial !important;
}

.not-visible {
  display: none !important;
}

.sticky {
  position: fixed !important;
}

.ease {
  transition: all .4s ease;
}

.scroll-helper {
  height: 10vh;
  width: 100%;
  border: 3px solid orange;
}

.show {
  display: grid !important;
  visibility: visible !important;
}

.active {
  background: #28a745 !important;
}

.button {
  text-transform: uppercase;
  color: white;
  padding: 0.7rem;
  border-radius: 3px;
  line-height: 1;
  cursor: pointer;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: all .1s ease-in-out;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);

  &:hover {
    filter: brightness(120%);
  }
}