img {
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

.fill-page {
  min-height: 100vh;

  @media only screen and (max-width: 1000px) {
    //min-height: initial;
  }
}

.bg-white {
  background: white;
  color: #333;

  @media only screen and (max-width: 600px) {
    padding-top: 5rem;
  }
}

.bg-black {
  background: #06090ab3;
  padding: 5rem;
  max-width: 60rem;
  color: white;

  @media only screen and (max-width: 600px) {
  }
}

.zindex {
  position: relative;
  z-index: 100;
}

.fade-in {
  opacity: 1 !important;
}

.fade-out {
  opacity: 0 !important;
}

.visible {
  display: initial !important;
}

.not-visible {
  display: none !important;
}

.sticky {
  position: fixed !important;
}

.ease {
  transition: all .4s ease;
}

.scroll-helper {
  height: 10vh;
  width: 100%;
  border: 3px solid orange;
}

.show {
  display: grid !important;
  visibility: visible !important;
}

.active {
  background: red !important;
}