.crowdsourced-map {
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 1fr;
  justify-content: center;

  &_sidebar {
    grid-column: 1;
    grid-row: 1;
    padding: 0.5rem;

    min-height: 100vh;
    background: $base-color--dark;
    //box-shadow: 0 0 10px #00000080;
    color: $base-color--light;

    z-index: 2;

    display: grid;

    &_stats {
      display: grid;
      grid-gap: 0.5rem;
      grid-template-rows: 2fr repeat(5, minmax(1rem, 1fr));
      grid-template-columns: 1fr 1fr;

      &_totalamcars {
        background: center url(../img/map-closeup_8416-2.jpg);
        text-shadow: 0 0 20px #050505;
        object-fit: contain;
        grid-row: 1;
        grid-column: 1 / -1;

        display: grid;
        align-content: center;
        justify-items: center;

        & > img {
          height: 7rem;
          width: 7rem;
        }
      }
    }

    &_total {
      background: #444;

      display: grid;
      grid-template-columns: 1fr;
      align-content: center;
      justify-items: center;

      & > img {
        height: 4rem;
        width: 4rem;
      }

      & > span {
      }
    }
  }

  &_googleMap {
    grid-column: 2;
    grid-row: 1 / -1;
  }

  &_cta {
    background: $primary-color;
    font-weight: 600;
    grid-column: 1 / -1;
    grid-row: 6;
    display: grid;
    align-content: center;
  }

  // form
  &_form {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    justify-items: center;
    grid-gap: 1rem;
    padding: 3rem;
    background: $base-color--white;
    display: grid;
    z-index: 10;
    border-radius: 3px;
    box-shadow: 3px 3px 5px #36363680;
    display: none;
    visibility: hidden;

    &_button {
      background: #28a745;
      font-size: 2rem;
    }

    &_close {
      background: #dc3545;
      font-size: 2rem;
    }
  }

  // google map infowindow
  & .carInfo {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  @media only screen and (max-width: $bp-small) {
  }
}
