// MODULES

// INTRO
.introduction {
  padding: 20rem 0rem;
  display: grid;

  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-gap: 4rem;

  &_text {
    max-width: 80rem;
    text-align: center;
    line-height: 150%;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 10rem 3rem;
  }
}

// MULTIMEDIA A -
.multimedia-a {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 50rem));
  grid-gap: 10rem;
  justify-content: center;

  &_media {
    display: grid;
    grid-template-rows: repeat(10, minmax(10rem, 10rem));
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;

    &_img--1 {
      grid-row: 2 / 5;
      grid-column: 1 / 4;
      width: 160%;
      //box-shadow: 0 5px 20px rgba(30, 40, 45, 0.6);
    }

    &_img--2 {
      grid-row: 6 / 6;
      grid-column: 4 / 7;
      z-index: 20;
      //box-shadow: 0 5px 20px rgba(30, 40, 45, 0.6);

      @media only screen and (max-width: $bp-largest) {
        grid-row: 4;
        grid-column: 4 / 7;
      }
    }

    @media only screen and (max-width: $bp-largest) {
      grid-template-rows: repeat(5, minmax(10rem, 10rem));
      margin: 0rem 2rem;
    }
  }

  &_text {
    padding: 20rem 0rem;
    display: grid;
    align-self: start;
    justify-self: left;
    grid-row-gap: 2rem;

    @media only screen and (max-width: $bp-small) {
      padding: 20rem 3rem;
    }
  }

  @media only screen and (max-width: $bp-small) {
    grid-gap: 2rem;
  }
}

// MULTIMEDIA B
.multimedia-b {
  width: 100%;

  background: linear-gradient(55deg, #182949de 0%, #804646a4 85%),
    no-repeat center url(../img/mod/familien.jpg);
  background-size: cover;

  display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(70rem, 1fr));
  //grid-template-columns: 1.1fr 1.8fr 1.1fr;
  grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));

  &_text {
    margin: 10rem 10rem;
    align-self: center;
    justify-self: center;

    display: grid;
    grid-row-gap: 3rem;

    @media only screen and (max-width: $bp-small) {
      margin: 2rem 3rem 10rem;
    }
  }

  &_excerpt {
    margin: 10% 0rem;
    max-width: 45rem;
    padding: 1.5rem;
    justify-self: right;
    text-align: left;

    @media only screen and (max-width: $bp-small) {
      justify-self: center;
      align-self: center;
    }
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
}

// MULTIMEDIA C
.multimedia-c {
  //padding: 20rem 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  grid-gap: 3rem;
  margin-top: -15vh;

  &_media {
    padding: 2rem;

    &_image img {
      height: 100%;
      object-fit: cover;
    }

    @media only screen and (max-width: $bp-medium) {
      grid-row: 2;
      padding: 0rem 3.5rem;
      margin-bottom: 5rem;
    }
  }

  &_text {
    padding: 15rem 0rem;
    max-width: 50rem;

    display: grid;
    align-self: center;
    justify-self: center;
    grid-row-gap: 2rem;

    @media only screen and (max-width: $bp-medium) {
      grid-row: 1;
      padding: 5rem 3rem;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    grid-gap: 0rem;
  }

  @media only screen and (max-width: $bp-small) {
    grid-gap: 0rem;
    grid-template-columns: 1fr;
  }
}

// MULTIMEDIA D
.multimedia-d {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 70rem));
  grid-gap: 10rem;
  justify-content: center;

  background: linear-gradient(55deg, #804646a4 0%, #182949de 85%),
    no-repeat center url(../img/mod/juke-vid.jpg);
  background-size: cover;

  &_media {
    display: grid;
    grid-template-rows: repeat(8, 10rem);
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;

    &_img--1 {
      grid-row: 3;
      grid-column: 3 / 6;
      width: 100%;

      @media only screen and (max-width: $bp-small) {
        grid-row: 3;
        grid-column: 2 / 4;
        width: 160%;
      }
    }

    &_img--2 {
      grid-row: 6;
      grid-column: 5 / 7;
      z-index: 20;

      @media only screen and (max-width: $bp-small) {
        grid-row: 5;
        grid-column: 4 / 6;
      }
    }

    & img {
      //box-shadow: 1px 1px 20px 1px #252525d5;
    }

    @media only screen and (max-width: $bp-small) {
      margin: 0rem 0rem 10rem;

      grid-template-rows: repeat(6, 10vh);
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &_text {
    margin: 15rem 0rem;
    display: grid;
    align-self: center;
    justify-self: center;
    grid-row-gap: 2rem;

    @media only screen and (max-width: $bp-small) {
      margin: 2rem 3rem 10rem;
    }
  }

  &_excerpt {
    grid-row: 2;
    grid-column: 4 / 7;
    text-align: left;

    @media only screen and (max-width: $bp-small) {
      grid-row: 2;
      grid-column: 2 / 6;
    }
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 1rem;
  }
}

// MULTIMEDIA E
.multimedia-e {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  grid-gap: 3rem;
  justify-content: center;

  &_text {
    max-width: 50rem;
    display: grid;

    align-self: center;
    justify-self: center;
    grid-row-gap: 2rem;

    @media only screen and (max-width: $bp-small) {
      padding: 5rem 3rem;
    }
  }

  &_media {
    position: relative;
    padding: 2rem;

    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: auto;

    &_image {
      grid-area: 1 / 1 / -1 / -1;
    }

    &_image img {
      object-fit: cover;
      height: 100%;
    }

    &_next {
      justify-self: right;
      grid-row: 5;
      grid-column: 1;
      font-size: 10rem;
      color: white;
      
      line-height: 0;
      //box-shadow: .5px .5px 3px 0px black;

      &_a {
        padding: 2rem;
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        cursor: pointer;

        transition: background 0.1s ease-in-out;

        &::selection {
          background: none;
        }

        &:hover,
        &:active {
          background: none;
        }
      }

      @media only screen and (max-width: $bp-small) {
        justify-self: right;
        width: 100%;
        height: 100%;
        grid-row: 3;
        grid-column: 1;
      }
    }

    .slides,
    .number {
      display: none;
    }

    .number {
      grid-row: 1 / span 6;
      grid-column: 1 / span 3;
      color: white;
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media only screen and (max-width: $bp-small) {
    grid-gap: 0rem;
    grid-template-columns: 1fr;
  }
}

// MULTIMEDIA F
.multimedia-f {
  background: linear-gradient(55deg, #1c586e42 0%, #80464633 85%),
    no-repeat center url(../img/placeholder/klubben-ute.png);
  background-size: cover;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 80rem));
  justify-content: center;

  &_button {
    grid-column: 1;
    grid-row: 1;
    background: white;
    padding: 2rem;
    align-self: center;
    justify-self: end;
    margin-top: 30%;
    z-index: 20;
    cursor: pointer;

    @media only screen and (max-width: $bp-small) {
      grid-column: 1;
      grid-row: 2;
      justify-self: center;
      margin-top: 0;
    }
  }

  &_media {
    grid-column: 1;
    grid-row: 1;

    video {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @media only screen and (max-width: $bp-small) {
      grid-column: 1;
      grid-row: 2;
    }
  }

  &_text { 
    grid-column: 2;
    grid-row: 1;
    margin: 15rem 0rem;
    display: grid;
    align-self: start;
    justify-self: center;
    grid-row-gap: 2rem;

    @media only screen and (max-width: $bp-small) {
      grid-column: 1;
      grid-row: 1;
      margin: 3rem;
    }
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 1rem;
  }
}

// TEXT A
.text-a {
  padding: 10rem 0rem;

  &_text {
    max-width: 50rem;
    display: grid;
    grid-row-gap: 2rem;
    margin: 0 auto;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 10rem 4rem;
  }
}

.text-b {
  background: #333;

  &_text {
    padding: 10rem 4rem;
    color: white;
    max-width: 80rem;
    display: grid;
    grid-row-gap: 2rem;
    margin: 0 auto;

    @media only screen and (max-width: $bp-small) {
      padding: 5rem 4rem;
    }
  }
}

// VIDEO A
.video-a {
  position: relative;
  height: 115vh;
}

.video {
  top: 0;
  left: 0;

  max-height: 100vh;
  width: 100%;
  height: 100%;
  object-fit: fill;
  overflow: hidden;

  @media only screen and (max-width: $bp-small) {
    object-fit: cover;
  }
}

// MULTIMEDIA SCROLL, sticky images with scrolling text
.multimedia-scroll {
  background: var(--light);
  height: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 50rem));
  grid-gap: 15rem;
  justify-content: center;

  position: relative;

  &_media {
    grid-column: 2;

    &_img--1,
    &_img--2,
    &_img--3 {
      position: absolute;
      height: 100vh;
      width: 50%;
      max-width: 80rem;
      left: 50%;
      top: 0;

      display: flex;

      img {
        align-self: center;
        width: 80%;

        @media only screen and (max-width: $bp-small) {
          width: 100%;
          padding: 5rem;
        }
      }

      @media only screen and (max-width: $bp-small) {
        width: 100%;
        left: 0;
      }
    }
  }

  &_text {
    grid-column: 1;
    min-height: 50vh;
    z-index: 9999;

    &_quoteblock {
      position: relative;

      & p {
        position: relative;
        min-height: 100vh;

        @media only screen and (max-width: $bp-small) {
        }

        & span {
          background: var(--light);
        }
      }

      &--1 {
        min-height: 50vh;
      }
    }

    @media only screen and (max-width: $bp-small) {
      padding: 5rem;
    }
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
  }
}
