img {
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

.fill-page {
  min-height: 100vh;
}

.bg-white {
  background: white;
  color: #333;
}

@media only screen and (max-width: 600px) {
  .bg-white {
    padding-top: 5rem;
  }
}

.bg-black {
  background: #06090ab3;
  padding: 5rem;
  max-width: 60rem;
  color: white;
}

.zindex {
  position: relative;
  z-index: 100;
}

.fade-in {
  opacity: 1 !important;
}

.fade-out {
  opacity: 0 !important;
}

.visible {
  display: initial !important;
}

.not-visible {
  display: none !important;
}

.sticky {
  position: fixed !important;
}

.ease {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.scroll-helper {
  height: 10vh;
  width: 100%;
  border: 3px solid orange;
}

.slide-up-long {
  -webkit-animation: slide-up-long 3s;
          animation: slide-up-long 3s;
}

.slide-up-medium {
  -webkit-animation: slide-up-medium 2.5s;
          animation: slide-up-medium 2.5s;
}

.slide-up-short {
  -webkit-animation: slide-up-short 2s;
          animation: slide-up-short 2s;
}

.bounce2 {
  -webkit-animation: bounce2 3s infinite;
          animation: bounce2 3s infinite;
}

@-webkit-keyframes bounce2 {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes bounce2 {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@-webkit-keyframes bounce {
  0% {
    bottom: 22%;
  }
  50% {
    bottom: 25%;
  }
  100% {
    bottom: 22%;
  }
}

@keyframes bounce {
  0% {
    bottom: 22%;
  }
  50% {
    bottom: 25%;
  }
  100% {
    bottom: 22%;
  }
}

@-webkit-keyframes slide-up-long {
  0% {
    -webkit-transform: translateY(30rem);
            transform: translateY(30rem);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up-long {
  0% {
    -webkit-transform: translateY(30rem);
            transform: translateY(30rem);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-up-medium {
  0% {
    -webkit-transform: translateY(20rem);
            transform: translateY(20rem);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up-medium {
  0% {
    -webkit-transform: translateY(20rem);
            transform: translateY(20rem);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-up-short {
  0% {
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up-short {
  0% {
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-2 {
  -webkit-animation: test 0.5s;
          animation: test 0.5s;
}

@-webkit-keyframes test {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes test {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*
TODO--
responsiv
chart
map

hidden class
parallax
animasjon

responsive bilder med picture tag*/
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #868e96;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: Arial,sans-serif;
  --font-family-monospace: monospace;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/
html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-loader {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background: black;
  z-index: 99;
  overflow: hidden;
  position: fixed;
}

::-moz-selection {
  background: darkred;
  color: white;
}

::selection {
  background: darkred;
  color: white;
}

.headline--xs, .headline--s, .headline--m, .headline--l, .headline--xl {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-family: 'Anton', sans-serif;
  line-height: 125%;
  letter-spacing: .1rem;
}

.headline--xs {
  font-size: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .headline--xs {
    font-size: 2rem;
    font-weight: 400;
  }
}

.headline--s {
  font-size: 5rem;
}

@media only screen and (max-width: 37.5em) {
  .headline--s {
    font-size: 3.5rem;
    font-weight: 400;
  }
}

.headline--m {
  font-size: 7rem;
}

@media only screen and (max-width: 37.5em) {
  .headline--m {
    font-size: 5.5rem;
  }
}

.headline--l {
  font-size: 10rem;
}

@media only screen and (max-width: 37.5em) {
  .headline--l {
    font-size: 7rem;
  }
}

.headline--xl {
  font-size: 14rem;
  color: white;
}

@media only screen and (max-width: 37.5em) {
  .headline--xl {
    font-size: 9rem;
  }
}

.text--s, .text--m, .text--l {
  font-family: 'Open Sans';
}

.text--s {
  line-height: 1.5;
  font-size: 2rem;
}

@media only screen and (max-width: 75em) {
  .text--s {
    font-size: 2.7rem;
  }
}

.text--m {
  font-size: 2.5rem;
}

@media only screen and (max-width: 75em) {
  .text--m {
    font-size: 3rem;
  }
}

.text--l {
  font-size: 3rem;
}

.text--xl {
  font-size: 5rem;
}

.quote--s, .quote--m, .quote--l {
  color: white;
  font-weight: 600;
  text-align: right;
  z-index: 50;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  font-family: 'Anton', sans-serif;
  font-weight: 400;
}

.quote--m {
  font-size: 3.5rem;
  line-height: 160%;
}

.quote--l {
  font-size: 4.5rem;
  line-height: 120%;
}

.text-quote {
  font-weight: 600;
}

.header_landing {
  background: black;
  top: 0;
  height: 120vh;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  z-index: -10;
}

.header_landing_grid {
  grid-area: 1 / 1 / -1 / -1;
  z-index: -5;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 2fr;
      grid-template: 1fr 1fr / 1fr 2fr;
  grid-gap: 20rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.header_landing_grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: no-repeat center url(../img/placeholder/nor-flagg-lines.svg);
  background-size: cover;
}

@media only screen and (max-width: 62.5em) {
  .header_landing_grid {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 3fr;
        grid-template: 1fr 1fr / 1fr 3fr;
    grid-gap: 10rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .header_landing_grid {
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

.header_landing_video {
  z-index: -1;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 20% 0;
     object-position: 20% 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media only screen and (max-width: 62.5em) {
  .header_landing_video {
    display: none;
    visibility: hidden;
  }
}

.header_landing img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.header_landing_img--1 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -o-object-position: 0 15%;
     object-position: 0 15%;
}

@media only screen and (max-width: 62.5em) {
  .header_landing_img--1 {
    -ms-grid-column: 2;
    grid-column: 2;
    -o-object-position: 0 0;
       object-position: 0 0;
  }
}

.header_landing_img--2 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  -o-object-position: 0 35%;
     object-position: 0 35%;
}

@media only screen and (max-width: 62.5em) {
  .header_landing_img--2 {
    display: none !important;
  }
}

.header_landing_img--3 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

@media only screen and (max-width: 62.5em) {
  .header_landing_img--3 {
    -ms-grid-row: 1;
    grid-row: 1;
    -o-object-position: 0 0;
       object-position: 0 0;
  }
}

.header_landing_text {
  height: 100vh;
  grid-area: 1 / 1 / -1 / -1;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  z-index: -3;
  text-shadow: 0 5px 20px #1e282de3;
}

.header_landing_text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: no-repeat center url(../img/placeholder/am-flag.jpg);
  background-size: cover;
  grid-area: 1 / 1 / -1 / -1;
  z-index: -10;
  opacity: 0.6;
}

.header_landing_text_subtitle {
  color: white;
  margin: 0 auto;
  width: 80%;
}

@media only screen and (max-width: 37.5em) {
  .header_landing_text {
    grid-row-gap: 2rem;
    padding: 1rem;
  }
}

.scroll-indicator {
  width: 7rem;
  color: white;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-animation: bounce 2.5s infinite;
          animation: bounce 2.5s infinite;
}

.introduction {
  padding: 20rem 0rem;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  grid-gap: 4rem;
}

.introduction_text {
  max-width: 80rem;
  text-align: center;
  line-height: 150%;
}

@media only screen and (max-width: 37.5em) {
  .introduction {
    padding: 10rem 3rem;
  }
}

.multimedia-a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 50rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 50rem));
  grid-gap: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.multimedia-a_media {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(10rem, 10rem))[10];
      grid-template-rows: repeat(10, minmax(10rem, 10rem));
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
}

.multimedia-a_media_img--1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  width: 160%;
}

.multimedia-a_media_img--2 {
  -ms-grid-row: 6;
  grid-row: 6 / 6;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
  z-index: 20;
}

@media only screen and (max-width: 75em) {
  .multimedia-a_media_img--2 {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4 / 7;
  }
}

@media only screen and (max-width: 75em) {
  .multimedia-a_media {
    -ms-grid-rows: (minmax(10rem, 10rem))[5];
        grid-template-rows: repeat(5, minmax(10rem, 10rem));
    margin: 0rem 2rem;
  }
}

.multimedia-a_text {
  padding: 20rem 0rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: left;
      justify-self: left;
  grid-row-gap: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-a_text {
    padding: 20rem 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .multimedia-a {
    grid-gap: 2rem;
  }
}

.multimedia-b {
  width: 100%;
  background: linear-gradient(55deg, #182949de 0%, #804646a4 85%), no-repeat center url(../img/mod/familien.jpg);
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(60rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
}

.multimedia-b_text {
  margin: 10rem 10rem;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-b_text {
    margin: 2rem 3rem 10rem;
  }
}

.multimedia-b_excerpt {
  margin: 10% 0rem;
  max-width: 45rem;
  padding: 1.5rem;
  -ms-grid-column-align: right;
      justify-self: right;
  text-align: left;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-b_excerpt {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (max-width: 37.5em) {
  .multimedia-b {
    -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
}

.multimedia-c {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  grid-gap: 3rem;
  margin-top: -15vh;
}

.multimedia-c_media {
  padding: 2rem;
}

.multimedia-c_media_image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 50em) {
  .multimedia-c_media {
    -ms-grid-row: 2;
    grid-row: 2;
    padding: 0rem 3.5rem;
    margin-bottom: 5rem;
  }
}

.multimedia-c_text {
  padding: 15rem 0rem;
  max-width: 50rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-row-gap: 2rem;
}

@media only screen and (max-width: 50em) {
  .multimedia-c_text {
    -ms-grid-row: 1;
    grid-row: 1;
    padding: 5rem 3rem;
  }
}

@media only screen and (max-width: 50em) {
  .multimedia-c {
    grid-gap: 0rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .multimedia-c {
    grid-gap: 0rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.multimedia-d {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50rem, 70rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50rem, 70rem));
  grid-gap: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(55deg, #804646a4 0%, #182949de 85%), no-repeat center url(../img/mod/juke-vid.jpg);
  background-size: cover;
}

.multimedia-d_media {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (10rem)[8];
      grid-template-rows: repeat(8, 10rem);
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
}

.multimedia-d_media_img--1 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
  width: 100%;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-d_media_img--1 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
    width: 160%;
  }
}

.multimedia-d_media_img--2 {
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
  z-index: 20;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-d_media_img--2 {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / 6;
  }
}

@media only screen and (max-width: 37.5em) {
  .multimedia-d_media {
    margin: 0rem 0rem 10rem;
    -ms-grid-rows: (10vh)[6];
        grid-template-rows: repeat(6, 10vh);
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

.multimedia-d_text {
  margin: 15rem 0rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-row-gap: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-d_text {
    margin: 2rem 3rem 10rem;
  }
}

.multimedia-d_excerpt {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
  text-align: left;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-d_excerpt {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
}

@media only screen and (max-width: 37.5em) {
  .multimedia-d {
    -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 1rem;
  }
}

.multimedia-e {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  grid-gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.multimedia-e_text {
  max-width: 50rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-row-gap: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-e_text {
    padding: 5rem 3rem;
  }
}

.multimedia-e_media {
  position: relative;
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: auto;
}

.multimedia-e_media_image {
  grid-area: 1 / 1 / -1 / -1;
}

.multimedia-e_media_image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.multimedia-e_media_next {
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 1;
  grid-column: 1;
  font-size: 10rem;
  color: #333;
  line-height: 0;
}

.multimedia-e_media_next_a {
  padding: 2rem;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}

.multimedia-e_media_next_a::-moz-selection {
  background: none;
}

.multimedia-e_media_next_a::selection {
  background: none;
}

.multimedia-e_media_next_a:hover, .multimedia-e_media_next_a:active {
  background: none;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-e_media_next {
    -ms-grid-column-align: right;
        justify-self: right;
    width: 100%;
    height: 100%;
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.multimedia-e_media .slides,
.multimedia-e_media .number {
  display: none;
}

.multimedia-e_media .number {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1 / span 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  color: white;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-e_media {
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 37.5em) {
  .multimedia-e {
    grid-gap: 0rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.multimedia-f {
  background: no-repeat center url(../img/mod/klubben-ute-2.jpg);
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50rem, 80rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50rem, 80rem));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.multimedia-f_button {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  background: white;
  padding: 2rem;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  z-index: 20;
  cursor: pointer;
  width: 15rem;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-f_button {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 0;
  }
}

.multimedia-f_media {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.multimedia-f_media video {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-f_media {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.multimedia-f_text {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: 15rem 0rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-row-gap: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-f_text {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    margin: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .multimedia-f {
    -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 1rem;
  }
}

.multimedia-g {
  background: -webkit-gradient(linear, left top, left bottom, from(#06090ab3), to(#06090ab3)), no-repeat center url(../img/mod/fiskebrygga.jpg);
  background: linear-gradient(#06090ab3, #06090ab3), no-repeat center url(../img/mod/fiskebrygga.jpg);
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-auto-rows: 3fr;
  grid-gap: 2rem;
  padding: 5rem;
}

.multimedia-g_text {
  color: white;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: end;
      justify-self: end;
  grid-row-gap: 2rem;
  max-width: 40rem;
}

.multimedia-g_media_map {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
  max-height: 70vh;
  max-width: 60rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  min-width: 50rem;
  margin-right: 10rem;
}

.multimedia-g_media_img--1 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
  max-width: 40rem;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: -10rem;
}

.multimedia-g_media_img--2 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  max-width: 40rem;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 10rem;
  margin-top: -8rem;
}

.text-a {
  padding: 10rem 0rem;
}

.text-a_text {
  max-width: 60rem;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 2rem;
  margin: 0 auto;
}

@media only screen and (max-width: 37.5em) {
  .text-a {
    padding: 10rem 4rem;
  }
}

.text-b {
  background: #222;
}

.text-b_text {
  padding: 10rem 4rem;
  color: white;
  max-width: 80rem;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 2rem;
  margin: 0 auto;
}

@media only screen and (max-width: 37.5em) {
  .text-b_text {
    padding: 5rem 4rem;
  }
}

.video-a {
  position: relative;
  height: 115vh;
}

.video {
  top: 0;
  left: 0;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  overflow: hidden;
}

@media only screen and (max-width: 37.5em) {
  .video {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.multimedia-scroll {
  background: var(--light);
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 50rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 50rem));
  grid-gap: 15rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.multimedia-scroll_media {
  -ms-grid-column: 2;
  grid-column: 2;
}

.multimedia-scroll_media_img--1, .multimedia-scroll_media_img--2, .multimedia-scroll_media_img--3 {
  position: absolute;
  height: 100vh;
  width: 50%;
  max-width: 80rem;
  left: 50%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.multimedia-scroll_media_img--1 img, .multimedia-scroll_media_img--2 img, .multimedia-scroll_media_img--3 img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-scroll_media_img--1 img, .multimedia-scroll_media_img--2 img, .multimedia-scroll_media_img--3 img {
    width: 100%;
    padding: 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .multimedia-scroll_media_img--1, .multimedia-scroll_media_img--2, .multimedia-scroll_media_img--3 {
    width: 100%;
    left: 0;
  }
}

.multimedia-scroll_text {
  -ms-grid-column: 1;
  grid-column: 1;
  min-height: 50vh;
  z-index: 9999;
}

.multimedia-scroll_text_quoteblock {
  position: relative;
}

.multimedia-scroll_text_quoteblock p {
  position: relative;
  min-height: 100vh;
}

.multimedia-scroll_text_quoteblock p span {
  background: var(--light);
}

.multimedia-scroll_text_quoteblock--1 {
  min-height: 50vh;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-scroll_text {
    padding: 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .multimedia-scroll {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 0;
  }
}

.image-grid-a_media {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (15vw)[3];
  -ms-grid-columns: (1fr)[6];
      grid-template: repeat(3, 15vw)/repeat(6, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}

.image-grid-a_media_img--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  grid-column: 1;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--1 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.image-grid-a_media_img--2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--2 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.image-grid-a_media_img--3 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--3 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    grid-column: 3;
  }
}

.image-grid-a_media_img--4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / span 2;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--4 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.image-grid-a_media_img--5 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 6;
  grid-column: 6;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--5 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / span 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
}

.image-grid-a_media_img--6 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--6 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.image-grid-a_media_img--7 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--7 {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.image-grid-a_media_img--8 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 6;
  grid-column: 6;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--8 {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.image-grid-a_media_img--9 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--9 {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 3;
    grid-column: 3;
  }
}

.image-grid-a_media_img--10 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--10 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5 / span 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

.image-grid-a_media_img--11 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 4;
  grid-column: 4;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--11 {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 3;
    grid-column: 3;
  }
}

.image-grid-a_media_img--12 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  grid-column: 5 / -1;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--12 {
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-column: 3;
    grid-column: 3;
  }
}

@media only screen and (max-width: 50em) {
  .image-grid-a_media {
    grid-gap: 0.3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media {
    -ms-grid-rows: (30vw)[6];
    -ms-grid-columns: (1fr)[3];
        grid-template: repeat(6, 30vw)/repeat(3, 1fr);
  }
}

.image-grid-a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.image-grid-b_media {
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (15vw)[2];
  -ms-grid-columns: (1fr)[6];
      grid-template: repeat(2, 15vw)/repeat(6, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}

.image-grid-b_media_img--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  grid-column: 1;
}

.image-grid-b_media_img--2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

.image-grid-b_media_img--3 {
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -ms-grid-column: 3;
  grid-column: 3;
}

.image-grid-b_media_img--4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / span 2;
}

.image-grid-b_media_img--5 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
}

.image-grid-b_media_img--6 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

.image-grid-b_media_img--7 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  grid-column: 6 / -1;
}

.image-grid-b img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.dv-small-a {
  padding: 10rem 0rem;
  background: linear-gradient(55deg, #2c0303a2 0%, #3a3a3aa8 85%), no-repeat center url(../img/bilder-bak_8443.jpg);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50rem, 70rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50rem, 70rem));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dv-small-a_text {
  width: 80%;
  padding: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-row-gap: 2rem;
}

.dv-small-a_data {
  margin-top: 30rem;
  height: 40vh;
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  background: greenyellow;
  position: relative;
}

.dv-small-a_data_number {
  font-size: 15rem;
  color: white;
  position: absolute;
  top: -12rem;
  right: 0;
}

.dv-small-b {
  width: 100%;
  padding: 10rem 0rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50rem, 70rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50rem, 70rem));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dv-small-b_text {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-row-gap: 2rem;
}

.dv-small-b_data {
  height: 40rem;
  width: 80%;
  background: orangered;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.dv-big-a {
  width: 100%;
  min-height: 100%;
  background: var(--light);
}
/*# sourceMappingURL=main.css.map */