.fill-page {
  min-height: 100vh;
}

.bg-white {
  background: #fff;
  color: #333;
}

@media only screen and (max-width: 60rem) {
  .bg-white {
    padding-top: 5rem;
  }
}

.bg-light {
  background: #f8f9fa;
  color: #333;
}

@media only screen and (max-width: 60rem) {
  .bg-light {
    padding-top: 5rem;
  }
}

.bg-black {
  background: #06090ab3;
  padding: 5rem;
  max-width: 60rem;
  color: #fff;
}

.zindex {
  position: relative;
  z-index: 100;
}

.fade-in {
  opacity: 1 !important;
}

.fade-out {
  opacity: 0 !important;
}

.visible {
  display: initial !important;
}

.not-visible {
  display: none !important;
}

.sticky {
  position: fixed !important;
}

.ease {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.scroll-helper {
  height: 10vh;
  width: 100%;
  border: 3px solid orange;
}

.show {
  display: -ms-grid !important;
  display: grid !important;
  visibility: visible !important;
}

.active {
  background: #28a745 !important;
}

.button {
  text-transform: uppercase;
  color: #fff;
  padding: 0.7rem;
  line-height: 1;
  cursor: pointer;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  text-shadow: 1px 1px 2px black;
}

.button:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.no-break {
  white-space: nowrap;
}

.slide-up-long {
  -webkit-animation: slide-up-long 2s;
          animation: slide-up-long 2s;
}

.slide-up-medium {
  -webkit-animation: slide-up-medium 1.5s;
          animation: slide-up-medium 1.5s;
}

.slide-up-short {
  -webkit-animation: slide-up-short 1s;
          animation: slide-up-short 1s;
}

.bounce2 {
  -webkit-animation: bounce2 3s infinite;
          animation: bounce2 3s infinite;
}

@-webkit-keyframes bounce2 {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes bounce2 {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@-webkit-keyframes bounce {
  0% {
    bottom: 22%;
  }
  50% {
    bottom: 25%;
  }
  100% {
    bottom: 22%;
  }
}

@keyframes bounce {
  0% {
    bottom: 22%;
  }
  50% {
    bottom: 25%;
  }
  100% {
    bottom: 22%;
  }
}

@-webkit-keyframes slide-up-long {
  0% {
    -webkit-transform: translateY(15rem);
            transform: translateY(15rem);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up-long {
  0% {
    -webkit-transform: translateY(15rem);
            transform: translateY(15rem);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-up-medium {
  0% {
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up-medium {
  0% {
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-up-short {
  0% {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up-short {
  0% {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-2 {
  -webkit-animation: test 0.5s;
          animation: test 0.5s;
}

@-webkit-keyframes test {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes test {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/
html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

select, input {
  width: 100%;
  font-size: 2rem;
}

img {
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

/* video::-webkit-media-controls-overlay-play-button {
  display: none;
} */
.page-loader {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background: black;
  z-index: 99;
  overflow: hidden;
  position: fixed;
}

::-moz-selection {
  background: #9f4545;
  color: white;
}

::selection {
  background: #9f4545;
  color: white;
}

.headline--xs, .headline--s, .headline--m, .headline--l, .headline--xl {
  text-align: center;
  font-family: 'Anton', Arial, sans-serif;
  line-height: 125%;
  letter-spacing: .1rem;
}

.headline--xs {
  font-size: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .headline--xs {
    font-size: 2rem;
    font-weight: 400;
  }
}

.headline--s {
  font-size: 5rem;
}

@media only screen and (max-width: 37.5em) {
  .headline--s {
    font-size: 3.5rem;
    font-weight: 400;
  }
}

.headline--m {
  font-size: 7rem;
}

@media only screen and (max-width: 37.5em) {
  .headline--m {
    font-size: 5.5rem;
  }
}

.headline--l {
  font-size: 9rem;
  letter-spacing: .2rem;
}

@media only screen and (max-width: 37.5em) {
  .headline--l {
    font-size: 7rem;
  }
}

.headline--xl {
  font-size: 14rem;
  color: white;
}

@media only screen and (max-width: 37.5em) {
  .headline--xl {
    font-size: 9rem;
  }
}

.text--xs, .text--s, .text--m, .text--l {
  font-family: 'Open Sans', Arial, sans-serif;
}

.text--xs {
  line-height: 1.3;
  font-size: 1.7rem;
}

@media only screen and (max-width: 75em) {
  .text--xs {
    font-size: 2.3rem;
  }
}

.text--s {
  line-height: 1.5;
  font-size: 2rem;
}

@media only screen and (max-width: 75em) {
  .text--s {
    font-size: 2.7rem;
  }
}

.text--m {
  font-size: 2.5rem;
}

@media only screen and (max-width: 75em) {
  .text--m {
    font-size: 3rem;
  }
}

.text--l {
  font-size: 3rem;
}

.text--xl {
  font-size: 5rem;
}

.quote--s, .quote--m, .quote--l {
  color: white;
  font-weight: 600;
  text-align: right;
  z-index: 50;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  font-family: 'Anton', sans-serif;
  font-weight: 400;
}

.quote--m {
  font-size: 3.5rem;
  line-height: 160%;
}

.quote--l {
  font-size: 4.5rem;
  line-height: 120%;
}

.text-quote {
  font-weight: 800;
}

.halden-times-logo {
  position: absolute;
  z-index: 1000;
  top: 1.5rem;
  right: 1.5rem;
}

.halden-times-logo_link > img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header_landing {
  background: #111;
  top: 0;
  height: 120vh;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  z-index: -10;
}

.header_landing_grid {
  grid-area: 1 / 1 / -1 / -1;
  z-index: -5;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 2fr;
      grid-template: 1fr 1fr / 1fr 2fr;
  grid-gap: 20rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.header_landing_grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: no-repeat center url(../img/placeholder/nor-flagg-lines.svg);
  background-size: cover;
}

@media only screen and (max-width: 62.5em) {
  .header_landing_grid {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 3fr;
        grid-template: 1fr 1fr / 1fr 3fr;
    grid-gap: 10rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .header_landing_grid {
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

.header_landing_video {
  z-index: -1;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 20% 0;
     object-position: 20% 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media only screen and (max-width: 62.5em) {
  .header_landing_video {
    display: none;
    visibility: hidden;
  }
}

.header_landing img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.header_landing_img--1 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -o-object-position: 0 15%;
     object-position: 0 15%;
}

@media only screen and (max-width: 62.5em) {
  .header_landing_img--1 {
    -ms-grid-column: 2;
    grid-column: 2;
    -o-object-position: 0 0;
       object-position: 0 0;
  }
}

.header_landing_img--2 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  -o-object-position: 0 35%;
     object-position: 0 35%;
}

@media only screen and (max-width: 62.5em) {
  .header_landing_img--2 {
    display: none !important;
  }
}

.header_landing_img--3 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

@media only screen and (max-width: 62.5em) {
  .header_landing_img--3 {
    -ms-grid-row: 1;
    grid-row: 1;
    -o-object-position: 0 0;
       object-position: 0 0;
  }
}

.header_landing_text {
  height: 100vh;
  grid-area: 1 / 1 / -1 / -1;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  z-index: -3;
  text-shadow: 0 5px 20px #16181f;
}

.header_landing_text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: no-repeat center url(../img/placeholder/am-flag.jpg);
  background-size: cover;
  grid-area: 1 / 1 / -1 / -1;
  z-index: -10;
  opacity: 0.6;
}

.header_landing_text_subtitle {
  color: #fff;
  margin: 0 auto;
  width: 80%;
}

@media only screen and (max-width: 37.5em) {
  .header_landing_text {
    grid-row-gap: 2rem;
    padding: 1rem;
  }
}

.scroll-indicator {
  width: 7rem;
  color: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-animation: bounce 2.5s infinite;
          animation: bounce 2.5s infinite;
}

.introduction {
  padding: 20rem 0rem;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  grid-gap: 4rem;
}

.introduction_text {
  max-width: 80rem;
  text-align: center;
  line-height: 150%;
}

@media only screen and (max-width: 37.5em) {
  .introduction {
    padding: 10rem 3rem;
  }
}

.multimedia-a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 55rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 55rem));
  grid-gap: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10rem 0rem;
}

.multimedia-a_media {
  max-width: 55rem;
  max-height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-row-align: center;
      align-self: center;
}

.multimedia-a_media img {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.multimedia-a_media_img--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  grid-column: 3 / -1;
  -ms-grid-column-align: end;
      justify-self: end;
  width: 130%;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-a_media_img--1 {
    grid-column: 2 / -1;
    -ms-grid-column-align: start;
        justify-self: start;
    width: 100%;
  }
}

.multimedia-a_media_img--2 {
  grid-row: 3 / -1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  z-index: 20;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  width: 90%;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-a_media_img--2 {
    grid-row: 3 / -1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    width: 100%;
  }
}

.multimedia-a_text {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: left;
      justify-self: left;
  grid-row-gap: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-a_text {
    padding: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .multimedia-a {
    grid-gap: 2rem;
  }
}

.multimedia-b {
  width: 100%;
  background: linear-gradient(55deg, #182949de 0%, #804646a4 85%), no-repeat center url(../img/familien.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(60rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
}

.multimedia-b_text {
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-b_text {
    margin: 2rem 3rem 10rem;
  }
}

.multimedia-b_excerpt {
  margin: 10% 0rem;
  max-width: 45rem;
  padding: 1.5rem;
  -ms-grid-column-align: right;
      justify-self: right;
  text-align: left;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-b_excerpt {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (max-width: 37.5em) {
  .multimedia-b {
    -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
}

.multimedia-c {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  grid-gap: 3rem;
}

.multimedia-c_media {
  padding: 2rem;
}

.multimedia-c_media_image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 50em) {
  .multimedia-c_media {
    -ms-grid-row: 2;
    grid-row: 2;
    padding: 0rem 3.5rem;
    margin-bottom: 5rem;
  }
}

.multimedia-c_text {
  padding: 15rem 0rem;
  max-width: 50rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-row-gap: 2rem;
}

@media only screen and (max-width: 50em) {
  .multimedia-c_text {
    -ms-grid-row: 1;
    grid-row: 1;
    padding: 5rem 2rem;
  }
}

@media only screen and (max-width: 50em) {
  .multimedia-c {
    grid-gap: 0rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .multimedia-c {
    grid-gap: 0rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.multimedia-d {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(60rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
  grid-gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(55deg, #804646a4 0%, #182949de 85%), no-repeat center url(../img/juke-vid.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.multimedia-d_media {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (10rem)[8];
      grid-template-rows: repeat(8, 10rem);
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
}

.multimedia-d_media_img--1 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  width: 110%;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-d_media_img--1 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
    width: 160%;
  }
}

.multimedia-d_media_img--2 {
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
  z-index: 20;
  width: 80%;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-d_media_img--2 {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / 6;
  }
}

@media only screen and (max-width: 37.5em) {
  .multimedia-d_media {
    margin: 0rem 0rem 10rem;
    -ms-grid-rows: (10vh)[6];
        grid-template-rows: repeat(6, 10vh);
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

.multimedia-d_text {
  margin: 15rem 0rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-row-gap: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-d_text {
    margin: 2rem 3rem 10rem;
  }
}

.multimedia-d_excerpt {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
  text-align: left;
  -ms-grid-column-align: end;
      justify-self: end;
  width: 110%;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-d_excerpt {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
}

@media only screen and (max-width: 37.5em) {
  .multimedia-d {
    -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 1rem;
    background-position-x: 25%;
  }
}

.multimedia-e {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  grid-gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.multimedia-e_text {
  max-width: 50rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-row-gap: 2rem;
}

@media only screen and (max-width: 50em) {
  .multimedia-e_text {
    padding: 5rem 3rem;
  }
}

.multimedia-e_media {
  position: relative;
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
}

.multimedia-e_media_image {
  grid-area: 1 / 1 / -1 / -1;
}

.multimedia-e_media_image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  height: 100%;
  -webkit-user-drag: none;
}

.multimedia-e_media .multimedia-e_media_prev, .multimedia-e_media .multimedia-e_media_next {
  -ms-grid-row: 3;
  grid-row: 3;
  z-index: 10;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.multimedia-e_media .multimedia-e_media_prev > a, .multimedia-e_media .multimedia-e_media_next > a {
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.multimedia-e_media .multimedia-e_media_prev > a:hover, .multimedia-e_media .multimedia-e_media_next > a:hover {
  background: #253349;
}

.multimedia-e_media_prev {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-column-align: start;
      justify-self: start;
}

.multimedia-e_media_next {
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-column-align: end;
      justify-self: end;
}

.multimedia-e_media_dots {
  grid-column: 1 / -1;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.multimedia-e_media .dot {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin: 1rem;
  z-index: 10;
  background: #fff;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.multimedia-e_media .dot:hover, .multimedia-e_media .dot--active {
  background: #253349;
}

.multimedia-e_media .slides,
.multimedia-e_media .numbertext {
  display: none;
}

.multimedia-e_media .numbertext {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  -ms-grid-column-align: start;
      justify-self: start;
  padding: 1rem 2rem;
  color: #fff;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-e_media {
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 37.5em) {
  .multimedia-e {
    grid-gap: 0rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.multimedia-f {
  background: no-repeat center url(../img/klubb-inngang-2_8442.jpg);
  background-attachment: fixed;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50rem, 70rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50rem, 70rem));
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.multimedia-f_button {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  background: #253349;
  padding: 2rem;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  z-index: 20;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 62.5em) {
  .multimedia-f_button {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 0;
  }
}

.multimedia-f_media {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.multimedia-f_media video {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 62.5em) {
  .multimedia-f_media {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    padding: 3rem;
  }
}

.multimedia-f_text {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: 15rem 0rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-row-gap: 2rem;
  max-width: 55rem;
}

@media only screen and (max-width: 62.5em) {
  .multimedia-f_text {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    margin: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .multimedia-f {
    -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 1rem;
  }
}

.multimedia-g {
  background: -webkit-gradient(linear, left top, left bottom, from(#06090a63), to(#06090ab3)), no-repeat center url(../img/fiskebrygga.jpg);
  background: linear-gradient(#06090a63, #06090ab3), no-repeat center url(../img/fiskebrygga.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(40rem, 70rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(40rem, 70rem));
  grid-gap: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 5rem;
}

.multimedia-g_text {
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-row-gap: 2rem;
}

.multimedia-g_text_h1 {
  text-align: left;
}

.multimedia-g_media {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-g {
    -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 1rem;
  }
}

.multimedia-h {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  grid-gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 100vh;
}

.multimedia-h_text {
  max-width: 50rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-row-gap: 2rem;
}

@media only screen and (max-width: 50em) {
  .multimedia-h_text {
    padding: 5rem 3rem;
  }
}

.multimedia-h_media {
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
}

.multimedia-h_media_image--1 {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.multimedia-h_media_image--2 {
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.multimedia-h_media_image--3 {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.multimedia-h_media img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
}

.multimedia-j {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  grid-gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.multimedia-j_text {
  max-width: 50rem;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 2rem;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.multimedia-j_media {
  padding: 2rem;
}

.multimedia-j_media_image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media only screen and (max-width: 37.5em) {
  .multimedia-j {
    padding: 5rem 4rem;
  }
}

.text-a {
  padding: 10rem 0rem;
}

.text-a_text {
  max-width: 80rem;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 2rem;
  margin: 0 auto;
}

@media only screen and (max-width: 37.5em) {
  .text-a {
    padding: 10rem 4rem;
  }
}

.text-b {
  background: #333;
}

.text-b_text {
  padding: 10rem 4rem;
  color: #fff;
  max-width: 80rem;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 2rem;
  margin: 0 auto;
}

@media only screen and (max-width: 37.5em) {
  .text-b_text {
    padding: 5rem 4rem;
  }
}

.video-a {
  position: relative;
}

.video-a_container {
  max-height: 100vh;
}

.video-a .video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 37.5em) {
  .video-a .video {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 70%;
       object-position: 70%;
  }
}

.multimedia-scroll {
  background: #f8f9fa;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 50rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 50rem));
  grid-gap: 15rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.multimedia-scroll_media {
  -ms-grid-column: 2;
  grid-column: 2;
}

.multimedia-scroll_media_img--1, .multimedia-scroll_media_img--2, .multimedia-scroll_media_img--3 {
  position: absolute;
  height: 100vh;
  width: 50%;
  max-width: 80rem;
  left: 50%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.multimedia-scroll_media_img--1 img, .multimedia-scroll_media_img--2 img, .multimedia-scroll_media_img--3 img {
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-scroll_media_img--1 img, .multimedia-scroll_media_img--2 img, .multimedia-scroll_media_img--3 img {
    width: 100%;
    padding: 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .multimedia-scroll_media_img--1, .multimedia-scroll_media_img--2, .multimedia-scroll_media_img--3 {
    width: 100%;
    left: 0;
  }
}

.multimedia-scroll_text {
  -ms-grid-column: 1;
  grid-column: 1;
  min-height: 20vh;
  z-index: 9999;
  color: #333;
}

.multimedia-scroll_text h1 {
  text-align: left;
}

.multimedia-scroll_text_quoteblock {
  position: relative;
}

.multimedia-scroll_text_quoteblock > div {
  position: relative;
  margin-bottom: 40rem;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-scroll_text_quoteblock > div {
    margin-bottom: 60rem;
  }
}

.multimedia-scroll_text_quoteblock > div > p {
  background: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.multimedia-scroll_text_quoteblock > div > p > span {
  display: block;
}

.multimedia-scroll_text_quoteblock--1 {
  min-height: 10vh;
}

@media only screen and (max-width: 37.5em) {
  .multimedia-scroll_text {
    padding: 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .multimedia-scroll {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 0;
  }
}

.crowdsourced-map {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 6fr;
      grid-template-columns: 2fr 6fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.crowdsourced-map_sidebar {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  padding: 0.5rem;
  min-height: 100vh;
  background: #333;
  color: #f8f9fa;
  z-index: 2;
  display: -ms-grid;
  display: grid;
}

.crowdsourced-map_sidebar_stats {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5rem;
  -ms-grid-rows: 2fr (minmax(1rem, 1fr))[5];
      grid-template-rows: 2fr repeat(5, minmax(1rem, 1fr));
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.crowdsourced-map_sidebar_stats_totalamcars {
  background: center url(../img/map-closeup_8416-2.jpg);
  text-shadow: 0 0 20px #050505;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-grid-row: 1;
  grid-row: 1;
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.crowdsourced-map_sidebar_stats_totalamcars > img {
  height: 7rem;
  width: 7rem;
}

.crowdsourced-map_sidebar_total {
  background: #444;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.crowdsourced-map_sidebar_total > img {
  height: 4rem;
  width: 4rem;
}

.crowdsourced-map_googleMap {
  -ms-grid-column: 2;
  grid-column: 2;
  grid-row: 1 / -1;
}

.crowdsourced-map_cta {
  background: #873b3b;
  font-weight: 600;
  grid-column: 1 / -1;
  -ms-grid-row: 6;
  grid-row: 6;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.crowdsourced-map_form {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  justify-items: center;
  grid-gap: 1rem;
  padding: 3rem;
  background: #fff;
  display: -ms-grid;
  display: grid;
  z-index: 10;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 5px #36363680;
          box-shadow: 3px 3px 5px #36363680;
  display: none;
  visibility: hidden;
}

.crowdsourced-map_form_button {
  background: #28a745;
  font-size: 2rem;
}

.crowdsourced-map_form_close {
  background: #dc3545;
  font-size: 2rem;
}

.crowdsourced-map .carInfo {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.image-grid-a img, .image-grid-b img, .image-grid-c img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.image-grid-a img:hover, .image-grid-b img:hover, .image-grid-c img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.image-grid-a_media {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (15vw)[3];
  -ms-grid-columns: (1fr)[6];
      grid-template: repeat(3, 15vw)/repeat(6, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}

.image-grid-a_media picture {
  overflow: hidden;
}

.image-grid-a_media_img--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  grid-column: 1;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--1 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.image-grid-a_media_img--2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--2 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.image-grid-a_media_img--3 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--3 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    grid-column: 3;
  }
}

.image-grid-a_media_img--4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / span 2;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--4 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.image-grid-a_media_img--5 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 6;
  grid-column: 6;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--5 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / span 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
}

.image-grid-a_media_img--6 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--6 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.image-grid-a_media_img--7 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--7 {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.image-grid-a_media_img--8 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 6;
  grid-column: 6;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--8 {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.image-grid-a_media_img--9 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--9 {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 3;
    grid-column: 3;
  }
}

.image-grid-a_media_img--10 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--10 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5 / span 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

.image-grid-a_media_img--11 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 4;
  grid-column: 4;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--11 {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 3;
    grid-column: 3;
  }
}

.image-grid-a_media_img--12 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  grid-column: 5 / -1;
  background: #f8f9fa;
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.image-grid-a_media_img--12 img {
  -o-object-fit: contain !important;
     object-fit: contain !important;
  -webkit-transition: none;
  transition: none;
}

.image-grid-a_media_img--12 img:hover {
  -webkit-transform: none;
          transform: none;
}

.image-grid-a_media_img--12 p {
  text-align: center;
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media_img--12 {
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-column: 3;
    grid-column: 3;
  }
}

@media only screen and (max-width: 50em) {
  .image-grid-a_media {
    grid-gap: 0.3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .image-grid-a_media {
    -ms-grid-rows: (30vw)[6];
    -ms-grid-columns: (1fr)[3];
        grid-template: repeat(6, 30vw)/repeat(3, 1fr);
  }
}

.image-grid-b_media {
  background: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (15vw)[2];
  -ms-grid-columns: (1fr)[6];
      grid-template: repeat(2, 15vw)/repeat(6, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}

.image-grid-b_media picture {
  overflow: hidden;
}

.image-grid-b_media_img--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  grid-column: 1;
}

.image-grid-b_media_img--2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

.image-grid-b_media_img--3 {
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -ms-grid-column: 3;
  grid-column: 3;
}

.image-grid-b_media_img--4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / span 2;
}

.image-grid-b_media_img--5 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
}

.image-grid-b_media_img--6 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

.image-grid-b_media_img--7 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  grid-column: 6 / -1;
}

.image-grid-c_media {
  background: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (15vw)[1];
  -ms-grid-columns: (1fr)[6];
      grid-template: repeat(1, 15vw)/repeat(6, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}

.image-grid-c_media picture {
  overflow: hidden;
}

.image-grid-c_media_img--1 {
  -ms-grid-column: 1;
  grid-column: 1;
}

.image-grid-c_media_img--2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

.image-grid-c_media_img--3 {
  -ms-grid-column: 4;
  grid-column: 4;
}

.image-grid-c_media_img--4 {
  -ms-grid-column: 5;
  grid-column: 5;
}

.image-grid-c_media_img--5 {
  -ms-grid-column: 6;
  grid-column: 6;
}
/*# sourceMappingURL=main.css.map */